[Unit]
Description=Run SPM update cache every hour

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Unit=spm_updates.service

[Install]
WantedBy=timers.target
